@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

html {
    margin: 0;
    overflow-x: hidden;
    height: calc(100vh);
}

#root {
    width: 100vw;
}

#header-container {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    height: 75px;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    background-color: white;
}

#site-title {
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: white;
}

#navigation-container {
    display: flex;
    align-items: center;
    width: calc(100vw - 225px);
    background-color: white;
    justify-content: flex-end;
}

#navigation-container img {
    margin-bottom: 20px; /* 이미지 아래 여백 설정 */
}

#navigation-container a {
    width: 60px;
    height: 70%;    
    max-height: 60%;
}

#explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 125px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border-radius: 50px;
}

#explore-button:hover {
    background-color: gray;
}

#account-image-container {
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#account-image {
    max-height: 60%;
}

#map {
    width: 100%;
    height: 500px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;

    &:hover {
        background-color: #0056b3;
    }
}

.query-name {
    color: black;
    font-size: 36px;
    margin: 25px;
    text-align: center;
}

.results-container {
    width: calc(100vw - 17px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.result-card-container {
    width: 45%;
    height: 175px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: lightgray;
}

.result-card-container:hover {
    background-color: gray;
}

.result-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
}

.result-image {
    max-width: 90%;
    max-height: 90%;
}

.result-content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.result-title-container {
    height: 60%;
}

.result-title {
    font-size: 24px;
}

.result-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.result-details-container {
    display: flex;
    height: 40%;
    align-items: center;
}

.result-details-container img {
    width: 18px;
    height: 18px;
}

.result-location,
.result-date,
.result-time {
    font-size: 12px;
    font-weight: 100;
    margin: 2px 5px 2px 2px;
}

/*
 * Modal stuff
 */

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

#sell-something-modal {
    position: fixed;
    top: 20vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.hidden {
    display: none;
}

.modal-dialog {
    width: 300px;
    height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}

.modal-title-container {
    height: 40%;
    margin-bottom: 5px;
}

.modal-title {
    font-size: 18px;
    color: black;
    margin-top: 0px;
}

.modal-link {
    text-decoration: none;
}

.modal-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

#modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    display: flex;
    width: 300px;
    height: 300px;
    flex-direction: column;
    align-items: center;
}

.post-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.post-input-element>label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

.modal-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: 50%;
}

.modal-image {
    max-height: 80%;
}

/* login page */
.login-page {
  display: inline-block;
  padding: 1rem;
}

.logout{
  border: 1px solid #ababab;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(184, 184, 184);
  border-radius: .5rem;
  
}

.logout:hover {
  background-color: #2b7bbe;
  color: white;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
/* login page */


#map {
    width: 100%;
    height: 500px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;

    &:hover {
        background-color: #0056b3;
    }
}

.query-name {
    color: black;
    font-size: 36px;
    margin: 25px;
    text-align: center;
}

.results-container {
    width: calc(100vw - 17px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.result-card-container {
    width: 45%;
    height: 175px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: lightgray;
}

.result-card-container:hover {
    background-color: gray;
}

.result-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
}

.result-image {
    max-width: 90%;
    max-height: 90%;
}

.post-input-element input {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}

.post-fieldset {
    flex: 1 100%;
    border: 1px solid #ababab;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
    margin-right: 20px;
}

#modal-cancel {
    color: #333;
    background-color: #fff;
}

#modal-cancel:hover {
    background-color: #eee;
}

.result-content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.result-title-container {
    height: 60%;
}

.result-title {
    font-size: 24px;
}

.result-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.result-details-container {
    display: flex;
    height: 40%;
    align-items: center;
}

.result-details-container img {
    width: 18px;
    height: 18px;
}

.result-location,
.result-date,
.result-time {
    font-size: 12px;
    font-weight: 100;
    margin: 2px 5px 2px 2px;
}

